@use "../../variables";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  gap: 1rem;
  .sticker {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    font-family: variables.$text-font;
    font-weight: 600;
    color: white;
    border-radius: 1rem;
    position: relative;
    height: 5rem;
    width: 3.5rem;
    background: variables.$sticker-not-owned;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    transition: all 0.2s ease-in-out;
    cursor: pointer;


    &:hover {
      transform: translateY(-4px);
      border-color: variables.$light;
    }

    &__number {
      font-size: 2.5rem;
    }

    &__team {
      position: absolute;
      text-align: center;
      bottom: .8rem;
      font-size: 1rem;
    }
  }

  .not-owned {
  background-color: variables.$sticker-not-owned;
  }

  .owned {
    background-color: variables.$sticker-owned;
  }

  .repeated-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .7rem;
    button {
      width: 1.5rem;
      height: 1.5rem;
      background-color: variables.$sticker-not-owned;
      border: none;
      border-radius: .5rem;
      color: variables.$text-color;
      text-align: center;
      backdrop-filter: blur(10px);
      border: 1px solid rgba(255, 255, 255, 0.1);
      transition: all 0.2s ease-in-out;
      cursor: pointer;

      &:hover {
        border-color: variables.$light;
      }
    }
    .increase:hover {
      background-color: variables.$increase-button-background;
    }
    .decrease:hover {
      background-color: variables.$decrease-button-background;
    }
    .count {
      font-family: variables.$text-font;
      font-weight: 600;
      font-size: 1.1rem;
      color: variables.$text-color;
    }
  }
}