@use "../../variables";

header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$header-background;
  .title {
      font-family: variables.$header-font;
      font-size: 2rem;
      font-weight: 700;
      color: white;
      text-align: center;
  }
}