@use "../../variables";

header {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$header-background;
  .title {
      font-family: "Segoe UI", sans-serif;
      font-size: 2rem;
      font-weight: 600;
      color: white;
  }
}