@use "../../variables";

footer {
  height: variables.$footer-height;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: variables.$header-background;
  .text {
      font-family: variables.$text-font;
      font-size: 1rem;
      font-weight: 600;
      color: variables.$text-color;
      text-align: center;
  }
}