$main-background: #0F172A;
$header-background: #1E293B;
$sticker-not-owned: #334155;
$sticker-owned: #1DBD8E;
$text-color: #F8FAFC;
$light: #818CF8;
$increase-button-background: #006ECF;
$decrease-button-background: #F24F4F;
$title-font: "Changa One", sans-serif;
$text-font: "Noto Sans Display", sans-serif;
$header-font: "Geist", sans-serif;