@use "../../variables";


.team {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  &__title {
      font-weight: 600;
      font-size: 3rem;
      color: variables.$text-color;
  }
  &__stickers {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 1.5rem;
  }
}